<nav>
    <div class="main-nav nav-container flex">
        <a href="#" class="company-logo">
            PINKAWARE
        </a>
        <div class="nav-links">
            <ul class="flex">
                <li class="hover-link nav-item"><a href="#">Home</a></li>
                <li class="hover-link nav-item"><a href="#">About<a></li>
                <li class="hover-link nav-item"><a href="#">Contact</a></li>
                <li class="hover-link nav-item"><a href="#">More</a></li>
            </ul>
        </div>
        <div class="login flex">
            <!-- <button id="login-button" class="login-button">Logout</button> -->
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="mdo" width="45" height="45" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
        </div>
    </div>
</nav>

<script>
    window.addEventListener('scroll', function() {
var nav = document.querySelector('.main-nav');
if (window.scrollY > 50) {
    nav.classList.add('affix');
} else {
    nav.classList.remove('affix');
}
});
</script>