<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap"
    />
</head>
<body>
    <%-include("../includes/navbar.ejs")%>
    <%-body%>
</body>
</html>