<%layout("/layouts/boilerplate.ejs")%>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/appointment.css">
</head>
<body>
    <div class="main-container">
        <div class="left">
            <h3>HELLO</h3>
            <h3>HELLO</h3>
            <h3>HELLO</h3>
            <h3>HELLO</h3>
        </div>

        <div class="right">

            <div class="card">
                <div class="imgBx">
                    <img src="\images\doctor.jpg">
                </div>
                <div class="details">
                    <h3>Nike Air Max<br><span>Men's Shoe</span></h3>
                    <h4>Product Details</h4>
                    <p>Lorem ipsum dolor, sit amet consect</p>
                    <h4>Size</h4>
                    <ul class="size">
                        <li>36</li>
                        <li>38</li>
                        <li>40</li>
                        <li>42</li>
                        <li>44</li>
                    </ul>
                    <div class="group">
                        <h2><sup>$</sup>199<small>.99</small></h2>
                        <a href="#">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="\images\doctor.jpg">
                </div>
                <div class="details">
                    <h3>Nike Air Max<br><span>Men's Shoe</span></h3>
                    <h4>Product Details</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur </p>
                    <h4>Size</h4>
                    <ul class="size">
                        <li>36</li>
                        <li>38</li>
                        <li>40</li>
                        <li>42</li>
                        <li>44</li>
                    </ul>
                    <div class="group">
                        <h2><sup>$</sup>199<small>.99</small></h2>
                        <a href="#">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card-1">
                    <div class="photo">
                        <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                </div>
                <div class="card-2">
                    <h1>Ibnu Rofik</h1>
                    <h2>Web Developer &amp; Designer</h2>
                    <div class="boxx">
                        <div class="box">
                            <div class="desc-1">
                                <h3>Project</h3>
                                <h1>29</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Followers</h3>
                                <h1>923</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Rating</h3>
                                <h1>9.5</h1>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <div class="click">
                            <button class="chat">Chat</button>
                            <button class="follow">Follow</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card-1">
                    <div class="photo">
                        <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                </div>
                <div class="card-2">
                    <h1>Ibnu Rofik</h1>
                    <h2>Web Developer &amp; Designer</h2>
                    <div class="boxx">
                        <div class="box">
                            <div class="desc-1">
                                <h3>Project</h3>
                                <h1>29</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Followers</h3>
                                <h1>923</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Rating</h3>
                                <h1>9.5</h1>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <div class="click">
                            <button class="chat">Chat</button>
                            <button class="follow">Follow</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>