<%layout("/layouts/boilerplate.ejs")%>
<head>
    <link rel="stylesheet" href="css/appointment.css">
</head>
<body>
    <div class="profiles-wrapper">
            <div class="container">
                <div class="card-1">
                    <div class="photo">
                        <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                </div>
                <div class="card-2">
                    <h1>Ibnu Rofik</h1>
                    <h2>Web Developer &amp; Designer</h2>
                    <div class="boxx">
                        <div class="box">
                            <div class="desc-1">
                                <h3>Project</h3>
                                <h1>29</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Followers</h3>
                                <h1>923</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Rating</h3>
                                <h1>9.5</h1>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <div class="click">
                            <button class="chat">Chat</button>
                            <button class="follow">Follow</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card-1">
                    <div class="photo">
                        <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                </div>
                <div class="card-2">
                    <h1>Ibnu Rofik</h1>
                    <h2>Web Developer &amp; Designer</h2>
                    <div class="boxx">
                        <div class="box">
                            <div class="desc-1">
                                <h3>Project</h3>
                                <h1>29</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Followers</h3>
                                <h1>923</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Rating</h3>
                                <h1>9.5</h1>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <div class="click">
                            <button class="chat">Chat</button>
                            <button class="follow">Follow</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card-1">
                    <div class="photo">
                        <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                </div>
                <div class="card-2">
                    <h1>Ibnu Rofik</h1>
                    <h2>Web Developer &amp; Designer</h2>
                    <div class="boxx">
                        <div class="box">
                            <div class="desc-1">
                                <h3>Project</h3>
                                <h1>29</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Followers</h3>
                                <h1>923</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Rating</h3>
                                <h1>9.5</h1>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <div class="click">
                            <button class="chat">Chat</button>
                            <button class="follow">Follow</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card-1">
                    <div class="photo">
                        <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                </div>
                <div class="card-2">
                    <h1>Ibnu Rofik</h1>
                    <h2>Web Developer &amp; Designer</h2>
                    <div class="boxx">
                        <div class="box">
                            <div class="desc-1">
                                <h3>Project</h3>
                                <h1>29</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Followers</h3>
                                <h1>923</h1>
                            </div>
                            <div class="desc-1">
                                <h3>Rating</h3>
                                <h1>9.5</h1>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <div class="click">
                            <button class="chat">Chat</button>
                            <button class="follow">Follow</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>