<%layout("/layouts/boilerplate.ejs")%>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/donation.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <article class="donation-images">

        <div class="donation-card">
            <div class="px-4 py-5 text-center">

            
                <img src="\images\donation.png" alt="" width="100px" height="100px">
                <h1 class="display-5 text-body-emphasis title">Donate For A Noble Cause</h1>
                <div class="col-lg-6 mx-auto donation-text">
                    <div class="appeal">
                        <p class="lead mb-4 ">Your donation can provide hope and treatment to breast cancer patients in need who cannot afford their care. Together, let's ensure that every individual battling this disease receives the support they deserve.</p>

                    </div>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <button type="button" class="btn btn-primary btn-lg px-4 gap-3 donation-button" >Donate-Now</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4 donation-button">Know-More</button>
                    </div>
                </div>
            </div>
            <div class="progress-bg">
                <div class="progress-bar">
                    <h3 class="raised">$50,000&nbsp;raised </h3>
                </div>
                    
                    <h3 class="goal">Goal: $100,000</h3>
            </div>
        </div>
           
    </article>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="/js/navbar.js"></script>
</body>
</html>
