<%layout("/layouts/boilerplate.ejs")%>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/donation-form.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="donation-container">
            
        <div class="donation-box">
            <div class="title">Donation Information</div>
            
            <div class="fields">
                <input type="text" id="firstName" placeholder="First Name"> </input>
                <input type="text" id="lastName" placeholder="Last Name"> </input>
                <input type="text" id="email" placeholder="Email"> </input>
            </div>
            
            <div class="amount">
                <div class="button">$30</div>
                <div class="button">$50</div>
                <div class="button">$100</div>
                <div class="button">$<input type="text" class="set-amount" placeholder=""> </input></div>
            </div>
            
            <div class="switch">
                <input type="radio" class="switch-input" name="view" value="One-Time" id="one-time" checked="">
                <label for="one-time" class="switch-label switch-label-off">One-Time</label>
                <input type="radio" class="switch-input" name="view" value="Monthly" id="monthly">
                <label for="monthly" class="switch-label switch-label-on">Monthly</label>
                <span class="switch-selection"></span>
            </div>
            
            <div class="checkboxes">
                <input type="checkbox" id="receipt" class="checkbox" />
                <label for="receipt">Email Me A Receipt</label>
                <br />
                <input type="checkbox" id="anon" class="checkbox" />
                <label for="anon">Give Anonymously</label>
                <br />
                <input type="checkbox" id="list" class="checkbox" />
                <label for="list">Add Me To Email List</label>
            </div>
            
            <div class="confirm">
                
            </div>
            
            <div class="donate-button"><i class="fa fa-credit-card"></i> Donate Now</div>
        </div>
        
    </div>
    
</body>
</html>