<%layout("/layouts/boilerplate.ejs")%> 
<head>
   <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
    <article></article>
    
    <div class="wrapper">
        <div class="main">
            <div class="home">
                <div class="left">
                    <img src="images\home-page-girl.png" alt="home-page-girl" height="32.6rem">
                </div>

                <div class="right">
                    <svg class="blur-svg" viewBox="0 0 1439 1339" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_f_209_2)">
                        <path d="M1134.52 672.337C1132.82 874.02 945.613 1036.14 716.386 1034.44C487.159 1032.74 302.713 867.864 304.415 666.181C306.116 464.497 493.321 302.378 722.548 304.078C951.775 305.778 1136.22 470.653 1134.52 672.337Z" fill="white"/>
                        </g>
                        <defs>
                        <filter id="filter0_f_209_2" x="0.402954" y="0.0646973" width="1438.13" height="1338.39" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="152" result="effect1_foregroundBlur_209_2"/>
                        </filter>
                        </defs>
                        </svg>
                    <h1>PinkAware:Shedding<br> Awareness, Sharing<br> Support</h1>
                    <p>"Join the Pink Powerhouse: Where<br> Awareness Meets Action in the Fight<br> Against
                        Breast Cancer!"</p>
                    <button>Know More</button> 
                    <button class="edit-profile-btn"><a href="/editprofile/<%=user._id%>">Edit profile</a></button>   
                </div>
            </div>

            <div class="features">

                <a href="/appointment">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p>APPOINTMENT</p>
                </div>
                </a>

                <a href="/donation">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p>Donation</p>
                </div>
                </a>

                <a href="/volunteer">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p>Volunteer </p>
                </div>
                </a>

                <a href="#">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p>VIDITEY</p>
                </div>
                </a>

                <a href="#">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p>VIDITEY</p>
                </div>
                </a>
                
                <a href="#">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p>VIDITEY</p>
                </div>
                </a>
                
                <a href="#">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p>VIDITEY</p>
                </div>
                </a>
                
                <a href="#">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p>VIDITEY</p>
                </div>
                </a>

            </div>

            <div class="news" id="new-container">

            </div>
        </div>
    </div>

    <template id="template-news-card">
        <div class="card">
            <div class="card-header">
                <img src="https://via.placeholder.com/400x200" alt="news image" id="news-img">
            </div>
            <div class="card-content">
                <h3 id="news-title">This is the Title</h3>
                <h6 class="news-source" id="news-source">Gautam 02/11/2003</h6>
                <p class="news-desc" id="news-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, sunt! Cupiditate architecto veniam adipisci dignissimos a excepturi distinctio quisquam? Explicabo?</p>
            </div>
        </div>
    </template>

    <script src="/js/navbar.js"></script>
</body>

</html>