<%layout("/layouts/boilerplate.ejs")%>
<head>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
    <article></article>
    
    <div class="wrapper">
        <div class="main">
            <div class="home">
                <div class="left">
                    <img src="images\home-page-girl.png" alt="home-page-girl" height="32.6rem">
                </div>

                <div class="right"></div>
            </div>
        </div>
    </div>
</body>
</html>