<%layout("/layouts/boilerplate.ejs")%> 
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <article></article>
    
    <div class="wrapper">
        <div class="main">
            <div class="home">
                <div class="left">
                    <img src="images\home-page-girl.png" alt="home-page-girl" height="32.6rem">
                </div>

                <div class="right">
                    <svg class="blur-svg" viewBox="0 0 1439 1339" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_f_209_2)">
                        <path d="M1134.52 672.337C1132.82 874.02 945.613 1036.14 716.386 1034.44C487.159 1032.74 302.713 867.864 304.415 666.181C306.116 464.497 493.321 302.378 722.548 304.078C951.775 305.778 1136.22 470.653 1134.52 672.337Z" fill="white"/>
                        </g>
                        <defs>
                        <filter id="filter0_f_209_2" x="0.402954" y="0.0646973" width="1438.13" height="1338.39" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="152" result="effect1_foregroundBlur_209_2"/>
                        </filter>
                        </defs>
                        </svg>
                    <h1>PinkAware:Shedding<br> Awareness, Sharing<br> Support</h1>
                    <p>"Join the Pink Powerhouse: Where<br> Awareness Meets Action in the Fight<br> Against
                        Breast Cancer!"</p>
                    <button>Know More</button> 
                    <button class="edit-profile-btn"><a href="/editprofile/<%=user._id%>">Edit profile</a></button>   
                </div>
            </div>

            <div class="features">

                <a href="/appointment">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p class="feature-type">APPOINTMENT</p>
                    <p class="feature-desc">Book your appointment to<br> experience excellence</p>
                </div>
                </a>

                <a href="/donation">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p class="feature-type">DONATION</p>
                    <p class="feature-desc">Support our cause with <br>a donation</p>
                </div>
                </a>

                <a href="/volunteer">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p class="feature-type">VOLUNTEER</p>
                    <p class="feature-desc">Empower change, volunteer <br>with our community</p>
                </div>
                </a>

                <a href="/medicines">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p class="feature-type">MEDICINE ZONE</p>
                    <p class="feature-desc">Explore the medicine zone for <br>health resources</p>
                </div>
                </a>

                <a href="https://pinkaware-chat.netlify.app/">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p class="feature-type">COMMUNITY CHAT</p>
                    <p class="feature-desc">Connect with our community <br>for shared experiences</p>
                    
                </div>
                </a>
                
                <a href="#">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p class="feature-type">VIDITEY</p>
                </div>
                </a>
                
                <a href="#">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p class="feature-type">VIDITEY</p>
                </div>
                </a>
                
                <a href="#">
                <div>
                    <img src="images\withbg\Image-4.jpg" alt="">
                    <p class="feature-type">VIDITEY</p>
                </div>
                </a>

            </div>

            <div class="news" id="news-container">

                

                
            </div>
        </div>
    </div>




    <div class="profile-display">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                                                            <div class="card user-card-full">
                                                                <div class="row m-l-0 m-r-0">
                                                                    <div class="col-sm-4 bg-c-lite-green user-profile">
                                                                        <div class="card-block text-center text-white">
                                                                            <div class="m-b-25">
                                                                                <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">
                                                                            </div>
                                                                            <h6 class="f-w-600">Hembo Tingor</h6>
                                                                            <p>Web Designer</p>
                                                                            <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-8">
                                                                        <div class="card-block">
                                                                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <p class="m-b-10 f-w-600">Email</p>
                                                                                    <h6 class="text-muted f-w-400">rntng@gmail.com</h6>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <p class="m-b-10 f-w-600">Phone</p>
                                                                                    <h6 class="text-muted f-w-400">98979989898</h6>
                                                                                </div>
                                                                            </div>
                                                                            <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <p class="m-b-10 f-w-600">Recent</p>
                                                                                    <h6 class="text-muted f-w-400">Sam Disuja</h6>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <p class="m-b-10 f-w-600">Most Viewed</p>
                                                                                    <h6 class="text-muted f-w-400">Dinoter husainm</h6>
                                                                                </div>
                                                                            </div>
                                                                            <ul class="social-link list-unstyled m-t-40 m-b-10">
                                                                                <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                                                                <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                                                                <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                         </div>
    </div>




    <footer>

    </footer>






    <template id="template-news-card">
        <div class="news-card">
            <div class="card-header">
                <img src="https://via.placeholder.com/400x200" alt="news image" id="news-img">
            </div>
            <div class="card-content">
                <h3 id="news-title">This is the Title</h3>
                <h6 class="news-source" id="news-source">Gautam 02/11/2003</h6>
                <p class="news-desc" id="news-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, sunt! Cupiditate architecto veniam adipisci dignissimos a excepturi distinctio quisquam? Explicabo?</p>
            </div>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>                                                
    <script src="/js/navbar.js"></script>
    <script src="\js\homepage.js"></script>
</body>

</html>