<%layout("/layouts/boilerplate.ejs")%>\
<head>
  <link rel="stylesheet" href="\css\medicines.css" />
</head>
<body>
  <div class="wrapper">

    <% for(let list of Medicinelisting){ %>
    <div class="card" >
      <img src="\images\drug.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=list.name%></h5>
        <p class="card-text">
          <%=list.description%>
        </p>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <button class="btn btn-warning rounded-pill px-3 price" type="button">&#8377;<%=list.price%></button>
      </div>
    </div>
    <%}%>
    <!-- <div class="card" >
      <img src="\images\drug.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Tamoxifen</h5>
        <p class="card-text">
          Tamoxifen: A selective estrogen receptor modulator used in the
          treatment and prevention of hormone receptor-positive breast cancer. .
        </p>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <button class="btn btn-warning rounded-pill px-3 price" type="button">$100</button>
      </div>
    </div>
    <div class="card" >
      <img src="\images\drug.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Tamoxifen</h5>
        <p class="card-text">
          Tamoxifen: A selective estrogen receptor modulator used in the
          treatment and prevention of hormone receptor-positive breast cancer. .
        </p>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <button class="btn btn-warning rounded-pill px-3 price" type="button">$100</button>
      </div>
    </div>
    <div class="card" >
      <img src="\images\drug.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Tamoxifen</h5>
        <p class="card-text">
          Tamoxifen: A selective estrogen receptor modulator used in the
          treatment and prevention of hormone receptor-positive breast cancer. .
        </p>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <button class="btn btn-warning rounded-pill px-3 price" type="button">$100</button>
      </div>
    </div>
    <div class="card" >
      <img src="\images\drug.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Tamoxifen</h5>
        <p class="card-text">
          Tamoxifen: A selective estrogen receptor modulator used in the
          treatment and prevention of hormone receptor-positive breast cancer. .
        </p>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <button class="btn btn-warning rounded-pill px-3 price" type="button">$100</button>
      </div>
    </div>
    <div class="card" >
      <img src="\images\drug.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Tamoxifen</h5>
        <p class="card-text">
          Tamoxifen: A selective estrogen receptor modulator used in the
          treatment and prevention of hormone receptor-positive breast cancer. .
        </p>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <button class="btn btn-warning rounded-pill px-3 price" type="button">$100</button>
      </div>
    </div>
    <div class="card" >
      <img src="\images\drug.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Tamoxifen</h5>
        <p class="card-text">
          Tamoxifen: A selective estrogen receptor modulator used in the
          treatment and prevention of hormone receptor-positive breast cancer. .
        </p>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <button class="btn btn-warning rounded-pill px-3 price" type="button">$100</button>
      </div>
    </div> -->

<!-- ///////////////////////////////////// FOOTER/////////////////////////// -->
    
  <div class="footer">
    <div class="footer-left">
      <img class="footer-img img-hover" src="\images\withoutbg\BC-img1.jpg" alt="">
    </div>
    <div class="footer-right">
      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h1 class="subcription-title">Subscribe for monthly medicines </h1>
          <p>We give you to the ease of uploading the medical prescription , All the medicines will be delivered to you timely whithout any hassle.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <button class="btn btn-primary" type="button">Subscribe-Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
