body {
  background: var(--lightbg);
  /* width:100vw; */
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: 100px;
}
.left {
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidemenu {
  height: 90%;
  width: 80%;
  background: white;
  border-radius: 25px;
}
.btn-toggle {
  font-size: 1.3rem;
  color: white;
  background: var(--first-color-dark);
  font-family: var(--primary-font);
}
.btn-toggle:hover {
  background: var(--lightbg);
  color: var(--first-color-dark);
}
.list-unstyled {
  font-size: 1rem;
  color: var(--first-color-dark);
  font-family: var(--primary-font);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--first-color-dark);
}
.right {
  width: 75vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;

  padding: 20px;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  width: 21rem;
  height: 30rem;
  max-width: 100%;
  text-align: center;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: relative;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
}

button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}
.fw-semibold {
  color: var(--first-color-dark);
}
