@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --first-color: #FF407D;
  --first-color-dark: #DA0C81;
  --button-color:#C70A6E;
}
body{
    background: var(--first-color);
}

.wrapper{
  width:100vw;
  margin-top:100px;
}

.main{
  display:flex;
  flex-direction: column;
  width:100%;
}

.home{
  display:flex;
  width:100%;
}

.left{
  height:32.6rem;
  width:32.6rem;
}

.left img{
  height:100%;
  width:100%;
}

.right{
  text-align:center;
  display:flex;
  flex-direction: column;
  height:45.56rem;
  width:51.8rem;
  align-items:center;
  padding-top:5rem;
  /* justify-content: center; */
}

.right h1{
  margin-bottom:3rem;
}

.right button{
  margin-top:0.7rem;
  border-radius:3rem;
  height:3rem;
  width:7rem;
  background-color:var(--button-color);
  border:none;
}