@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

:root{
    --first-color: #FF407D;
  --first-color-dark: #DA0C81;
  --button-color:#C70A6E;
}

::selection{
  background-color: #f0addd;
  color:white;
}
.edit-profile-btn a{
  color: white;
  text-decoration: none;
}
body{
    background:#FF407D ;
    height:2000px;
}

.wrapper{
  width:100vw;
  margin-top:100px;
}

.main{
  display:flex;
  flex-direction: column;
  width:100%;
}

.home{
  display:flex;
  width:100%;
}

.left{
  height:32.6rem;
  width:32.6rem;
}

.left img{
  height:100%;
  width:100%;
}

.right{
  text-align:center;
  display:flex;
  flex-direction: column;
  height:45.56rem;
  width:51.8rem;
  align-items:center;
  padding-top:5rem;
  color:var(--button-color);
  font-family: 'Poppins',sans-serif;
  /* justify-content: center; */
}

.right h1{
  /* font-family: 'Poppins:wght@900'; */
  font-family: 'Poppins',sans-serif;
  font-weight:900 ;
  margin-bottom:3rem;
  color:var(--first-color-dark);
  text-shadow: 5px 5px var(-);
}

.right p{
  font-size: 1.4rem;
  font-weight:500;
}

.right button{
  margin-top:0.7rem;
  border-radius:3rem;
  height:3rem;
  width:8.5rem;
  background-color:var(--button-color);
  border:none;
  color:#FFFFFF;
  transition: all 0.25s ease-in;
}

.right button:hover{
  background-color:var(--first-color);
  color:white;
  transform:scale(1.07);
}

.blur-svg{
  position: absolute;
  height:50rem;
  z-index:-10;
  top:0;
  transform:translateY(-50px);
}

/* Home page featured button */

.features{
  color:var(--first-color);
  width:100%;
  font-weight:700;
  margin-left:2rem;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height:30rem;
  row-gap: 1rem;;
}

.features div{
  aspect-ratio:1/1;
  height:15rem;
  text-align:center;
  background-color:aliceblue;
  border-radius:10rem;
  border:1.5px solid black;
}

.features img{
  height:50%;
  width:50%;
  border:2px solid black;
  overflow:hidden;
  border-radius:50%;
  margin-bottom:3px;
  margin-top:4px;
  transition:all 0.22s ease-in;
}

.features img:hover{
  transform:scale(1.10) translateY(-3px);
  border:4px solid var(--button-color);
}