:root{
  /*===== Colores =====*/
  --first-color: #FF407D;
  --first-color-dark: #DA0C81;
  --first-color-light: #A49EAC;
  --first-color-lighten: #F2F2F2;
  --lightbg: #ff9bd2;
}
body{
  background: url('../images/withbg/2808_R0lVIEpFTiA4NzQtMjc.jpg')
}
.wrapper{
  margin-top: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  border: 3px solid var(--first-color-dark);
  padding: 15px;
  font-family: "Poppins:ital",sans-serif;
  width: 23rem;
  transform: scale(0.8);
  box-shadow: 10px 10px 5px var(--first-color-dark);
  background: white;
  
}
.card:hover{
  transform: scale(0.85);
  
  transition: 0.2s ease-in-out;
}
.card-title{
  font-family: "Poppins:ital",sans-serif;
  font-weight: 800;
}
.footer{
  display: flex;
  width: 100vw;
}
.footer-left{
  width: 40vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.footer-right{
  width: 60vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  font-family: "Poppins:ital",sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.footer-img{
  height: 400px;
  width: 400px;
  border-radius: 5%;
  box-shadow: 10px 10px 5px var(--first-color-dark);
}
.subcription-title{
  font-size: 3rem;
  font-weight:1000;
  font-family: "Poppins:ital",sans-serif;
}
.price{
  font-family: "Poppins:ital",sans-serif;
  font-weight: 800;
  margin-left: 30%;

}
body {
	background: linear-gradient(-45deg, #ee7752,  #ff9bd2 ,#DA0C81);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
