
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
} */

:root{
    --first-color: #FF407D;
    --first-color-dark: #DA0C81;
    --text-color-1:#FFFFFF;
    --bg-color-dark-1:#C70A6E;
    --login-hover-color:#9b0756;
}

a{
    text-decoration:none;
}

ul{
    list-style: none;
}

nav a{
    font-family:'Poppins',sans-serif;
    font-weight:bold;
}

.flex{
    display:flex;
    align-items:center;
}

.nav-container{
    width:100vw;
    height:100px;
    margin-inline:auto;
}

nav{
    background-color:transparent;
    z-index:100;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.main-nav{
    justify-content: space-between;
    padding: 8px 0px;
    transition: all 0.4s ease;
    height: 100px;
}
.main-nav a {
    text-decoration: none;
}
.company-logo{
    margin-left:4rem;
    font-size:35px;
    font-weight:36px;
    color: var(--bg-color-dark-1);
}

.company-logo img{
    height:60px;
    width:60px;
}

.nav-links ul li{
    margin-right:4.5rem;
}

.nav-item a{
    text-shadow:1px 2px 1px #c2768e;
    transition : all 0.15s ease-in;
}

.hover-link{
    cursor:pointer;
}

.login{
    margin-right:4rem;
    height:45px;
}

.login-button{
    font-family: "Poppins:ital",sans-serif;
    color:#C70A6E;
    padding:8px 24px;
    border:none;
    font-weight:1000;
    border-radius:1.5rem;
    cursor:pointer;
    background-color:#FFFFFF;
}

.login-button:hover{
    background-color: #f5bad9;
}

.affix {
    padding: 0;
    /* background-color: var(--first-color-dark); */
    backdrop-filter: blur(250px);
    height:80px;
    box-shadow:0 0 4px 2px lightpink;
}

.white{
    color: var(--text-color-1);
    transition:all 0.2s ease-in;
    &:hover{
        color:rgb(101, 21, 83);
        transform:scale(1.05);
    }
}

.pink{
    color:var(--bg-color-dark-1);
    transition:all 0.2s ease-in;
    &:hover{
        color:var(--text-color-1);
        transform:scale(1.2);
    }
}

.dropdown-item{
  background: white;
  transition:all 0.2s ease-in;
  &:hover{
    background-color: rgb(219, 111, 165);
    color:white;
  }
}
